body {
  /*background-color: #DCFDD7;*/
}

#topImage {
  display: inline;
  margin-left: 70px;
  height: 200px;
  width: auto;
}
#top {
  background-color: #BDEAF8;
  margin: -10px;
}
h1 {
  display: inline;
  font-family: Montserrat, cursive;
  font-size: 300%;
  color: /*#E1F3EC*/black;
  font-weight: 700;
  margin-top: -100px;
  padding-bottom: 120px;
}

#introBox {
  border: none;
  margin-left: 50px;
  margin-right: 60%;
  background-color: #BDEAF8;
}
#intro {
  font-size: 36px;
  color: black;
  font-family: 'Nanum Gothic';
  background-color: #B7CED6;
  padding-left: 20%;
}
#menuBar {
  background-color: #40849A;
  margin-top: -30px;
  margin-left: -10px;
}
button {
  background-color: #40849A;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 15px 32px;
  font-size: 48px;
  align-content: center;
  font-family: sans-serif;
  transition-duration: 0.4s;
}

#searchButton {
  background-color: #49CA72;
}

button:hover {
  background-color: white;
  color: #40849A;
}
.features {
  font-family: sans-serif;
  margin-right: 50%;
  font-size: 28px;
}
h3.features {
  font-size: 36px;
  margin-right: 25%;
}
#info {
  margin-right: 0%;
}
ul,li {
  padding-top: 20px;
  font-family: sans-serif;
}
li {
  text-align: left;
  font-size: 28px;
}

.grid-container {
            display: grid;
            grid-template-areas: 'leftC middleC rightC';
            font-family: sans-serif;
}
.item2 {
            grid-area: leftC;
            width: 200px
}

.item3 {
            grid-area: middleC;
            width: 200px
}

.item4 {
            grid-area: rightC;
            width: 200px
}

.submit {
            background-color: #49CA72;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            width: 500px;
            align: center;
            cursor: pointer;
            border-radius: 12px;
            -webkit-transition-duration: 0.4s; /* Hover Effect */
            transition-duration: 0.3s;
            font-family: sans-serif;
}

.submit:hover {
            border: 2px solid #f44336;
            font-family: sans-serif;
}
